{% extends "navbar_not_logged_in.html" %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
  
    </div>
  </div>

  <div class="row mt-4">
      <div class="col border-light card shadow mr-2" style="background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);">
        <h1>Log In</h1>
        <form method="POST" action="/getstarted">
          {{ login_form.csrf_token }}

          <div class="form-group">

            <label for="email">{{ login_form.email.label }}</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
              {% if login_form.email.errors %}
                <ul class="errors">
                  {% for error in login_form.email.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
              {% endif %}
          </div>
          <div class="form-group">
            <label for="password">{{ login_form.password.label }}</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              {% if login_form.password.errors %}
                <ul class="errors">
                  {% for error in login_form.password.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
              {% endif %}
          </div>
          <center>
            <button type="submit" name="submit" value="login" class="btn btn-primary">Log In</button>
          </center>
        </form>
      </div>


      <div class="col card bg-light">
        <h1>Sign Up</h1>

        <form method="POST" action="/getstarted">
          {{ signup_form.csrf_token }}

          <div class="form-group">
            <label for="name">{{ signup_form.name.label }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="e.g. Rocky Balboa">
              {% if signup_form.name.errors %}
                <ul class="errors">
                  {% for error in signup_form.name.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
              {% endif %}
              </div>
          <div class="form-group">

            <label for="email">{{ signup_form.email.label }}</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="youremail@address.com">
              {% if signup_form.email.errors %}
                <ul class="errors">
                  {% for error in signup_form.email.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
              {% endif %}
          </div>

          <div class="form-group">
            <label for="password">{{ signup_form.password.label }}</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Create a password">
              {% if signup_form.password.errors %}
                <ul class="errors">
                  {% for error in signup_form.password.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
              {% endif %}
          </div>


          <div class="form-group">
            <label for="confirm">{{ signup_form.confirm.label }}</label>
            <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm password">
              {% if signup_form.confirm.errors %}
                <ul class="errors">
                  {% for error in signup_form.confirm.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
              {% endif %}
          </div>



          <center>
            <button type="submit" name="submit" value="signup" class="btn btn-outline-primary">Sign Up</button>
          </center>
        </form>
      </div>      

</div>
{% endblock %}