{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(to right, cyan, magenta);">
      <a class="navbar-brand" href="/spaces">Where on &#x1f30e; is my </a>
      <form class="form-inline" method="POST" action="/search">
        {{ search_form.csrf_token }}
        <input class="form-control mr-sm-2" type="search" id="search_txt" name="search_txt" placeholder="" aria-label="Search" style="width:40%">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">?</button>
      </form>
    </nav>
{% endblock %}