{% extends "navbar_logged_in.html" %}

{% block toprow %}
<div class="row">
  <!-- Space ... Color gradient, rounded corners -->
  <div class="col p-5 rounded" style="{{make_random_gradient()}}">
    <h1>
      {{search_txt}}
      </h1>

  </div>
</div>





{% endblock %}


{% block content %}

<!-- Search Results -->
<div class="row mt-4">
  <div class="col-xl">
    <h1>Search Results</h1>
    <ul>
        {% if selected_space %}
        <li>
          Space: 
        <a href="/space/{{ selected_space.uid }}">
          {{ selected_space.name }}
        </a>
      </li>
      {% endif %}

      <li>
        {% if selected_containers %}
        Containers: 
        <ul>
          {% for container in selected_containers %}
          <li>
            <a href="/container/{{ container.uid }}">
              {{ container.name }}
            </a> in 
            <a href="/space/{{ container.space_id }}">
              {{ container.space_name() }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% else %}

        No containers matched this search
        {% endif %}
      </li>


    </ul>


  </div>
</div>




<!-- Item table -->
{% if selected_space %}
<div class="row mt-4">
  <div class="col-xl">
    <h1>Space:</h1>
    {{ selected_space.name }}


  </div>
</div>

{% endif %}











<!-- Item table -->
{% if items %}
<div class="row mt-4">
  <div class="col-xl">
    <h5>
      The following items were tagged <a class="btn btn-lg btn-success" href="/tagged/{{ search_txt }}" role="button">#{{ search_txt }}</a>

    </h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Container</th>
          <th scope="col">Space</th>
          <th scope="col">Tags</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <th scope="row">{{item.name}}</th>
          <td>
            {{ item.container_name() }}
          </td>
          <td>
            {{ item.space_name() }}
          </td>
          <td>
            {% for t in item.tags %}
            <a class="btn btn-sm btn-outline-success" href="/tagged/{{t.slug()}}" role="button">#{{t.slug()}}</a>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}





{% endblock %}