{% extends "navbar_logged_in.html" %}

{% block topleft %}
  <!-- Space name and stats... Color gradient, rounded corners -->

  <div class="col-md p-5 rounded" style="{{space.card_background()}}">

    <h1>{{ space.name }}</h1>

    <div class="font-italic">
      <p>{{space.description}}</p>
    </div>

    <p>Click on a category to filter:</p>

    {% for category in space.container_categories %}
      <button type="button" class="btn btn-outline-primary mb-1">
        {{ category.name }}
      </button>
    {% endfor %}

  </div>
{% endblock %}


{% block topright %}
  <!-- Form to add new containers -->
  <div class="col-md">
    <h3>Add a Container</h3>
    <form method="POST" action="{{ request.path }}/add/container">
        {{ form.csrf_token }}

        <!-- Input for container name -->
        <p>Name:</p>
        <input type="name" class="form-control" id="container_name" name="container_name" placeholder="e.g. B1 or Refridgerator or Backpack">


        <hr>
        <!-- Input for a NEW category name -->
        <p>Add a category:</p>

        <input type="name" class="form-control" id="new_category" name="new_category" placeholder="e.g. small box">

        <!-- Input to select an EXISTING category name -->
        <select class="form-control" id="existing_category" name="existing_category">
          <option disabled selected value>... or select an existing category</option>
          {% for category in space.container_categories %}
          <option>{{ category.name }}</option>
          {% endfor %}
        </select>

        <hr>
        <center>
          <button type="submit" class="btn btn-primary">Add Container</button>
        </center>
       
        </form>
  </div>

{% endblock %}


{% block content %}

<!-- Flashed messages -->
<div class="row">
  <div class="col">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class=flashes>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
  </div>
</div>

<!-- Container section -->
<div class="row">
  <div class="col">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">qty</th>
          <th scope="col">units</th>
          <th scope="col">thing</th>
          <th scope="col">tags</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>


    {% for container in containers %}
      {{container.name}}
    {% endfor %}

  </div>
</div>

{% endblock %}